<nav class="navbar bg-body-tertiary" style="margin-bottom: 1em;">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#"><i class="bi bi-list"></i></a>
        </div>
      
      <div class="push-right">
        <a class="navbar-brand" href="#"><i class="bi bi-search" data-toggle="tooltip" title="Buscar"></i></a>
        <a class="navbar-brand" href="#"><i class="bi bi-cart4" data-toggle="tooltip" title="Ver carrito"></i></a>
      </div>
      
    </div>
  </nav>